/* Pokedex table styles */

.pokedex-table {
  width: 100%;
  border-collapse: collapse;
}

/* Mobile table layout */

@media screen and (max-width: 768px) {
  #pokedexTable {
    width: 100%;
    font-size: 10px;
    border-collapse: collapse;
  }

  #pokedexTable th,
  #pokedexTable td {
    padding: 2px 1px;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #pokedexTable th {
    font-weight: bold;
  }

  #pokedexTable td {
    word-break: keep-all;
  }

  #pokedexTable img {
    width: 35px;
    max-width: 35px;
    height: auto;
    display: block;
  }
}
